A = <app-binaire [(val)]="a" [dim]="dim" [editable]="true"></app-binaire>
B = <app-binaire [(val)]="b" [dim]="dim" [editable]="true"></app-binaire>
-----
C = <app-binaire [val]="a + b" [dim]="dim"></app-binaire>

-----

<section>
  <label>
    Dimension {{dim}} <input type="range" [(ngModel)]="dim" min="0" max="16" />
  </label>
</section>

<ol>
  <li *ngFor="let d of dimensions">
    <app-binaire [val]="a + b" [dim]="d"></app-binaire>
  </li>
</ol>


<hr/>
<button (click)="reset()">RESET</button>
<button (click)="pause()">PAUSE</button>
<button (click)="start()">START</button>

<section>
  X = <app-binaire [val]="valueObs | async"              [dim]="dim" [editable]="false"></app-binaire>
  Y = <app-binaire [val]="maxValue - (valueObs | async)" [dim]="dim" [editable]="false"></app-binaire>
</section>
