<app-binaire [(val)]="a" [dim]="8" [editable]="true"></app-binaire>
<app-binaire [(val)]="b" [dim]="8" [editable]="true"></app-binaire>
-----
<app-binaire [val]="a + b" [dim]="8"></app-binaire>

<hr/>
<button (click)="reset()">RESET</button>
<button (click)="pause()">PAUSE</button>
<button (click)="start()">START</button>

<section>
  <label>
    Dimension {{dim}} <input type="range" [(ngModel)]="dim" min="0" max="16" />
  </label>
</section>
<app-binaire [val]="valueObs | async" [dim]="dim" [editable]="false"></app-binaire>
<app-binaire [val]="maxValue - (valueObs | async)" [dim]="dim" (valChange)="updateY($event)" [editable]="true"></app-binaire>
-----
<ol>
  <li *ngFor="let d of dimensions">
    <app-binaire [val]="res | async" [dim]="d"></app-binaire>
  </li>
</ol>

